.principal img {
  height: 100vh;
}

@media screen and (max-width: 900px) {
  .principal {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .principal {
    width: 100%;
  }
}

@media screen and (max-width: 424px) {
  .principal {
    width: 420px;
  }
}

@media screen and (max-width: 384px) {
  .principal {
    height: 80vh;
    width: 390px;
  }
}

@media screen and (max-width: 375px) {
  .principal {
    width: 400px;
  }
}
