.servicios-div {
  top: 1px;
}

.servicios-a {
  color: rgba(0, 0, 0, 0.55);
}

.servicios-a:focus {
  box-shadow: none;
}

.filter {
  filter: grayscale(100%);
}

.filter1 {
  filter: opacity(var(--value, 100%));
}

.filter2 {
  filter: contrast(var(--value, 1.5));
}

.title {
  padding: 7rem 1rem 3rem;
}

#effect-hover .img {
  width: 100%;
  height: auto;
  background-size: contain;
  margin: 10px auto;
  position: relative;
}

#effect-hover #efecto {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 95%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.726);
  opacity: 0;
  transition: opacity 1s;
}

#effect-hover .img:hover #efecto {
  opacity: 1;
}

h4 {
  position: absolute;
  top: 40%;
  right: 10%;
  left: 10%;
}

.principal img {
  height: 400px;
}

.principal {
  width: 700px;
  height: 400px;
}

h3 {
  position: absolute;
  bottom: 5%;
  right: 10%;
  left: 10%;
  color: whitesmoke;
}
