.servicios-div {
  top: 1px;
}

.servicios-a {
  color: rgba(0, 0, 0, 0.55);
}

.servicios-a:focus {
  box-shadow: none;
}

.title {
  padding: 7rem 1rem 3rem;
}

.img {
  height: auto;
  background-size: contain;
  margin: 10px auto;
  position: relative;
}

.decoration {
  background-size: cover;
  height: 342px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image {
    width: 90%;
    max-height: 245px;
  }

  &__opaque,
  &__text-center {
    display: none;
  }
}

.decoration:hover {
  padding: 0;
  transition: ease 2s;

  .decoration__opaque {
    height: 245px;
    width: 90%;
    position: absolute;
    background: rgba(207, 151, 151, 0.45);
    display: block;
  }

  .decoration__text-center {
    position: absolute;
    top: 45%;
    left: 22%;
    display: block;
    margin: 0 auto;
  }
}

h4 {
  position: absolute;
  top: 40%;
  right: 10%;
  left: 10%;
}

.principal img {
  height: 400px;
}

.principal {
  height: 400px;
}

h3 {
  position: absolute;
  bottom: 5%;
  right: 10%;
  left: 10%;
  color: whitesmoke;
}

.decoration-section {
  margin: 0 auto;
}

.iluminacion {
  padding: 0 10px;
}
